# Django specific files
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# Django migrations
*/migrations/*

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace