{% extends 'front/base.html' %}
{% load static %}
{% block news %} active {% endblock %}
{% block blogs_dynamic %} active {% endblock %}

{% block content %}
<section class="food_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center p-4">
            <h2 class="text-dark">
                Blogs
            </h2>
        </div>
        <div class="container">
            <div class="row">
                {% for blog in blogs %}
                <div class="col-3">
                    <div class="card shadow-md p-2">
                        <div class="post-img">
                            <a href="{% url 'blog_detail' blog_id=blog.id %}">
                                <img src="{{blog.images.url}}"
                                    class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0"
                                    style="width: 360px; height: 250px;" alt="" />
                            </a>
                        </div>
                        <div class="post-content">
                            <h2 class="font-weight-semibold text-5 text-dark line-height-6 mt-3 mb-2 ">
                                <a href="{% url 'blog_detail' blog_id=blog.id %}" style="color: black; font-weight: 500; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">{{blog.title|truncatechars:30}}</a>
                            </h2>
                            <p style="overflow: hidden; height: 90px;">{{blog.content|truncatechars:130}}</p>
                            <div class="post-meta">
                                <span><small><i class="far fa-calendar-alt "></i><a class="text-secondary"
                                        href="javascript:void(0)">{{blog.created_date}}</a></small></span> <br>
                                <span><small><i class="far fa-user"></i> By <a class="text-secondary" href="javascript:void(0)"
                                        title="{{blog.created_by}} ">{{blog.created_by}}</a></small></span>
                                <span><small><i class="far fa-comments"></i> <a class="text-secondary"
                                        href="javascript:void(0)">{{blog.comments.count}}
                                        Comments </a></small></span><hr>
                                <span class="d-block mt-2 float-end mb-3"><a
                                        href="{% url 'blog_detail' blog_id=blog.id %}" class="text-uppercase text-danger">Read
                                        More<i class="fa fa-angle-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Pagination -->
        <div class="row align-items-center text-center">
            <div class="col-12">
                <ul class="pagination justify-content-center align-items-center">
                    <!-- Previous Button -->
                    {% if blogs.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ blogs.previous_page_number }}" class="page-link">
                            <i class="fas fa-angle-left"></i>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a href="#" class="page-link">
                            <i class="fas fa-angle-left"></i>
                        </a>
                    </li>
                    {% endif %}

                    <!-- Page Numbers -->
                    {% for num in blogs.paginator.page_range %}
                        {% if blogs.number == num %}
                        <li class="page-item active">
                            <a href="#" class="page-link">{{ num }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}

                    <!-- Next Button -->
                    {% if blogs.has_next %}
                    <li class="page-item">
                        <a href="?page={{ blogs.next_page_number }}" class="page-link">
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a href="#" class="page-link">
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- End Pagination -->
    </div>
</section>
{% endblock %}