{% load static %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/favicon.png" type="">

  <title> Oromia Investment Holding </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'front/css/bootstrap.css' %}" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
    integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
    crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="{% static 'front/css/font-awesome.min.css' %}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static 'front/css/style.css ' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'front/css/responsive.css' %}" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

  <div class="hero_area">
    <div class="bg-box">
      <video autoplay muted loop style="width: 100%; height: 100%; object-fit: cover;">
        <source src="{% static 'front/images/4K-hero.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{% url 'index' %}">
            <span>Oromia Sovereign Fund</span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">Who are we</a>
                <div class="dropdown-menu" aria-labelledby="aboutDropdown">
                  <a class="dropdown-item" href="{% url 'about' %}">About</a>
                  <a class="dropdown-item" href="{% url 'vision_mission' %}">Vision & Mission</a>
                  <a class="dropdown-item" href="{% url 'history' %}">Our History</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'services' %}">Services</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">Blog & News</a>
                <div class="dropdown-menu" aria-labelledby="aboutDropdown">
                  <a class="dropdown-item" href="{% url 'news_list_visitor' %}">News</a>
                  <a class="dropdown-item" href="{% url 'blog_list' %}">Blogs</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact_us' %}">Contact</a>
              </li>
            </ul>
            <div class="user_option">
              <a href="" class="user_link">
                <i class="bi bi-person"></i> <!-- Bootstrap user icon -->
              </a>
              <form class="form-inline">
                <button class="btn my-2 my-sm-0 nav_search-btn" type="submit">
                  <i class="bi bi-search"></i> <!-- Bootstrap search icon -->
                </button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Oromia Investment Holding
                    </h1>
                    <p>
                      Doloremque, itaque aperiam facilis rerum, commodi, temporibus sapiente ad mollitia laborum quam
                      quisquam esse error unde. Tempora ex doloremque, labore, sunt repellat dolore, iste magni quos
                      nihil ducimus libero ipsam.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Contact Us
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Oromia Investment Group
                    </h1>
                    <p>
                      Doloremque, itaque aperiam facilis rerum, commodi, temporibus sapiente ad mollitia laborum quam
                      quisquam esse error unde. Tempora ex doloremque, labore, sunt repellat dolore, iste magni quos
                      nihil ducimus libero ipsam.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Contact us
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Oromia Investment Holding
                    </h1>
                    <p>
                      Doloremque, itaque aperiam facilis rerum, commodi, temporibus sapiente ad mollitia laborum quam
                      quisquam esse error unde. Tempora ex doloremque, labore, sunt repellat dolore, iste magni quos
                      nihil ducimus libero ipsam.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Contact us
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
            <li data-target="#customCarousel1" data-slide-to="2"></li>
          </ol>
        </div>
      </div>

    </section>
    <!-- end slider section -->
  </div>

  <!-- offer section -->

  <section class="offer_section layout_padding-bottom">
    <div class="offer_container">
      <div class="heading_container heading_center">
        <h2>Lead By</h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'front/images/Shimelis_Abdissa.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>H.E Shimelis Abdissa</h5>
                <h6><span>Board Chairman</span></h6>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'front/images/dr.adere.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>Dr. Adere Mitiku</h5>
                <h6><span>CEO</span></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end offer section -->

  <!-- food section -->

  <section class="food_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Services
        </h2>
      </div>

      <ul class="filters_menu">
        <li class="active" data-filter="*">All</li>
        <li data-filter=".burger">Investment</li>
        <li data-filter=".pizza">Businesses</li>
        <li data-filter=".pasta">Consultancy</li>
        <li data-filter=".fries">Others</li>
      </ul>

      <div class="filters-content">
        <div class="row grid">
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'front/images/trading.jpg' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Financial Advice
                  </h5>
                  <p>
                    Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus
                    sed eaque
                  </p>

                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all burger">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'front/images/mining.jpg ' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    sales Adivice
                  </h5>
                  <p>
                    Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus
                    sed eaque
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'front/images/Energy.jpg' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Financial Advice
                  </h5>
                  <p>
                    Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus
                    sed eaque
                  </p>

                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pasta">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'front/images/finfinee.jpg' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Investinent Advice
                  </h5>
                  <p>
                    Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus
                    sed eaque
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all fries">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'front/images/transport.jpg' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Capital Investiment
                  </h5>
                  <p>
                    Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus
                    sed eaque
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'front/images/manufacturing.jpg' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Financial Advice
                  </h5>
                  <p>
                    Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus
                    sed eaque
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all burger">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'front/images/agriculture.jpg' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Marketing Strategy
                  </h5>
                  <p>
                    Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus
                    sed eaque
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all burger">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'front/images/real-estate.jpg' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Marketing Strategy
                  </h5>
                  <p>
                    Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus
                    sed eaque
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pasta">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'front/images/nobg3.jpg' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Investinent Advice
                  </h5>
                  <p>
                    Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus
                    sed eaque
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          View More
        </a>
      </div>
    </div>
  </section>

  <!-- end food section -->

  <section class="food_section layout_padding-bottom">
    <div class="container" data-aos="fade-up">
      <div class="heading_container heading_center">
        <h2>
          Recent News
        </h2>
      </div>
      <br>
    </div>
    <div class="container ">
      <div class="row ">
        {% for article in recent_news %}
        <div class="col-3">
          <div class="card shadow-md p-2">
            <div class="post-img">
              <a href="{% url 'news_detail' news_id=article.id %}">
                <img src="{{ article.featured_image.url }}" class="img-fluid"
                  style="width: 100%; height: 200px; border-radius: 10px;" alt="{{ article.title }}">
              </a>
            </div>

            <div class="meta detail-box">
              <span class="post-date text-secondary"> <small>{{ article.created_at|date:"D, F d, Y" }}</small></span>
            </div>
            <h6 class="post-title">
              <a href="{% url 'news_detail' news_id=article.id %}" class="stretched-link">
                {{article.title}}</a>
            </h6>
            <p>{{ article.content|truncatechars:145 }}</p>
            <a href="{% url 'news_detail' news_id=article.id %}" class="readmore stretched-link">
              <span>Read More</span><i class="bi bi-arrow-right"></i>
            </a>



          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'front/images/office.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box bg-dark">
            <div class="heading_container">
              <h2>
                We are OIG
              </h2>
            </div>
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in some form, by injected humour, or randomised words which don't look even slightly believable. If you
              are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
              the middle of text. All
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- book section -->
  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>Contact Us</h2>

      </div>

      <div class="row gy-4">
        <!-- Form Column -->
        <div class="col-md-6">
          <div class="form_container">
            <form id="contactForm" action="{% url 'contact_us' %}" method="POST" enctype="multipart/form-data"
              novalidate="novalidate">
              {% csrf_token %}
              <input type="hidden" value="true" name="emailSent" id="emailSent">


              <div>
                <input type="text" name="name" id="name" class="form-control" placeholder="Full Name" required=""
                  maxlength="100">
              </div>

              <div>
                <input type="email" name="email" class="form-control" placeholder="Email Address" required=""
                  maxlength="100">
              </div>

              <div>
                <input type="number" name="phone" id="phone" class="form-control" placeholder="Phone Number" required=""
                  maxlength="100">
              </div>

              <div>
                <input type="text" name="subject" class="form-control" placeholder="Subject" required=""
                  maxlength="100">
              </div>

              <div>
                <textarea name="message" id="message" class="form-control" rows="6" placeholder="Message" required=""
                  maxlength="5000"></textarea>
              </div>

              <div class="btn_box text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <!-- <div class="sent-message">Your message has been sent. Thank you!</div> -->
                <button type="submit" id="contactFormSubmit" data-loading-text="Loading...">
                  Send Message
                </button>
              </div>

            </form>
          </div>
        </div>

        <!-- Map and Info Column -->
        <div class="col-md-6">
          <div class="map_container">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3730.886873378456!2d38.763357711893015!3d9.007869718236645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x164b85baec50549d%3A0x459ebc2be2b84de1!2sOromia%20Region%20President%20Office!5e1!3m2!1sen!2set!4v1740730318862!5m2!1sen!2set"
              width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>


        </div>
      </div>
    </div>
  </section>
  <!-- end book section -->

  <!-- client section -->

  <section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center psudo_white_primary mb_45">
        <h2>
          Our Partners
        </h2>
      </div>

      <div class="container-1 h-100">
        <div class="row align-items-center h-100">
          <div class="container rounded">
            <div class="slider">
              <div class="logos">
                <i class="fab fa-js fa-4x"></i>
                <i class="fab fa-linkedin-in fa-4x"></i>
                <i class="fab fa-dribbble fa-4x"></i>
                <i class="fab fa-medium-m fa-4x"></i>
                <i class="fab fa-github fa-4x"></i>
              </div>
              <div class="logos">
                <i class="fab fa-js fa-4x"></i>
                <i class="fab fa-linkedin-in fa-4x"></i>
                <i class="fab fa-dribbble fa-4x"></i>
                <i class="fab fa-medium-m fa-4x"></i>
                <i class="fab fa-github fa-4x"></i>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end client section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Contact Us
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +25 12345 67890
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  otech@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              Oromia Investement Group
            </a>
            <p>
              Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin
              words, combined with
            </p>
            <div class="footer_social m-2">
              <a href="">
                <i class="fab fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fab fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fab fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fab fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fab fa-pinterest" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Opening Hours
          </h4>
          <p>
            Everyday
          </p>
          <p>
            10.00 Am -10.00 Pm
          </p>
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> Designed and Implemented By
          <a href="https://otech.et/" target="_blank">OTech Engineering and Technology Solutions PLC</a>
        </p>
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script src="{% static 'front/js/jquery-3.4.1.min.js' %}"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
  <!-- bootstrap js -->
  <script src="{% static 'front/js/bootstrap.js' %}"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="{% static 'front/js/custom.js' %}"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

</body>

</html>

{% endblock %}