{% extends 'front/base.html' %}
{% block about %} active {% endblock %}
{% block about_dynamic %} active {% endblock %}
{% block content %} 
{% load static %}


  <!-- services section -->
<section class="food_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center pt-4">
            <h2>Latest News</h2>
        </div>
        <div class="filters-content">
            <div class="row grid">
                {% for article in news_articles %}
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <a href="{% url 'news_detail' news_id=article.id %}">
                                    <img src="{{ article.featured_image.url }}" 
                                         class="img-fluid img-thumbnail img-thumbnail-no-borders" 
                                         style="width: 100%; height:150px;" 
                                         alt="News Image" />
                                </a>
                            </div>
                            <div class="detail-box bg-white text-dark p-3">
                                <h5>
                                    <a href="{% url 'news_detail' news_id=article.id %}" 
                                       style="overflow: hidden; display: inline-block; height: 50px;">
                                        {{ article.title|truncatechars:50 }}
                                    </a>
                                </h5>
                                <p>{{ article.content|truncatechars:200 }}</p>
                                <div class="d-flex justify-content-between align-items-center small text-muted">
                                    <span><i class="fas fa-calendar-alt"></i> {{ article.created_at|date }}</span>
                                    <span><i class="fas fa-user"></i> {{ article.created_by|truncatechars:15 }}</span>
                                    <span><i class="fas fa-envelope"></i> {{ article.created_by.email|truncatechars:20 }}</span>
                                </div>
                                <div class="post-meta">
                                    <span><i class="far fa-clock"></i> <a href="#">{{ article.created_at }}</a></span>
                                    <span class="float-end">
                                        <a href="{% url 'news_detail' news_id=article.id %}" class="text-uppercase">Read More</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>



    {% endblock %}